<mat-card class="card-demo">
  <mat-card-title> Carlos Calderon</mat-card-title>
  <mat-card-subtitle
    >The Trade Setups and Time-Based Algorithms Used by Top
    Traders</mat-card-subtitle
  >
  <mat-card-content>
    <div class="night-theme">
      <div fxLayout="row" style="height: calc(100vh - 92px)" ngxSplit="row">
        <div fxFlex="30%" ngxSplitArea class="c1r1">
          <div *ngIf="selectedSignal; else selectsignal" class="c1r1_header">
            Signal:
            {{ selectedSignal?.symbol }}
            {{ selection.selected }}
            {{ selectedSignal?.activationPrice }}
            <!-- <button (click)="saveSelection()">save</button> -->
          </div>
          <ng-template #selectsignal>Select signal</ng-template>
          <mat-spinner
            *ngIf="loading"
            style="position: fixed; top: 50%; left: 50%"
          ></mat-spinner>
          <mat-table mat-table [dataSource]="dataSource">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="selected">
              <mat-header-cell mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="row.isPublished"
                >
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="symbol">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                >symbol</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let element">{{
                element.symbol
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="zigzagType">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                >zigzagType</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let element">{{
                element.zigzagType
              }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="isPublished">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                >Published?</mat-header-cell
              >
              <mat-cell mat-cell *matCellDef="let element"
                ><mat-icon
                  class="init-pub"
                  [class.published]="element.isPublished"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >thumb_up</mat-icon
                ></mat-cell
              >
            </ng-container>

            <mat-header-row
              mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }"
              (mouseover)="row.hovered = true"
              (mouseout)="row.hovered = false"
              (click)="selectSingleSignal(row)"
            ></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 35, 50, 100]">
          </mat-paginator>
        </div>
        <!-- <div class="handle handle-row" ngxSplitHandle>
          <i class="material-icons">&#xE25D;</i>
        </div> -->
        <div
          fxFlex.xs="70%"
          fxFlex.gt-md="70%"
          fxFlex.lg="70%"
          ngxSplitArea
          style="
            height: calc(100vh - 92px);
            overflow: hidden;
            width: 100% !important;
          "
        >
          <div fxLayout="column" fxFlexFill ngxSplit="column">
            <div fxFlex="100%" ngxSplitArea class="c2r1_body">
              <div class="c2r1_header">Chart</div>
              <!-- <h1></h1> -->
              <app-investips-chart
                class="chart"
                [selectedZigZagSignal]="selectedSignal"
              >
              </app-investips-chart>
              <!-- <app-tv-chart-container></app-tv-chart-container> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

ks
